body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

td {
    text-align: left;
}

.sliderdemoBasicUsage input[type="number"] {
  text-align: center;
  padding-left: 10px; }
