<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
  <head>
    <title>Flask App</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/starter-template.css" rel="stylesheet">
  </head>

  <body ng-controller ="input_test">

    <div class="container" role="main">
        <div class ="starter-template">
        <div class="row">
        {% raw %}

        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Details</h4>
            </div>
            <div class="panel-body">
                  <table class="table table-striped">
                      <tbody>
                          <tr>
                              <td> Term </td>
                              <td><input ng-change="testFunc()" type="text" ng-model="inputs.term" /></td>
                          </tr>
                      </tbody>
                  </table>
            </div>
          </div>
        </div>

    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h4>Results</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Term</th>
                            <th>12mo</th>
                            <th>24mo</th>
                            <th>36mo</th>
                            <th>48mo</th>
                            <th>60mo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{inputs.term}} </td>
                            <td> {{ returnVal }} </td>
                            <td> EMPTY% </td>
                            <td> EMPTY% </std>
                            <td> EMPTY% </td>
                            <td> EMPTY% </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        {% endraw %}
      </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
